.main {
    margin-top: 7rem;
    margin-left: auto;
    width: 70%;
    max-width: 80rem;
    margin-right: auto;
    text-align: center;
}

.main a {
    text-decoration: none;
    color: #51f1f1;
}

.main a:hover,
.main a:active,
.main a.active {
    color: #51f1f1;
}

.main h1 {
}

body {
    background-color: #3f3f3f;
    color: #e6fcfc;
    margin: 0;
}

