.button {
    font-size: 1.1rem;
    margin: 1rem;
    min-width: 10rem;
    padding: 0 1.5rem;
    height: 3rem;
    border-radius: 20px;
    border-style: none;
    background: #0b4545;
    color: #e6fcfc;
}

.button:active,
.button:hover {
    background: #126e6e;
}
