.content {
    margin: 1rem auto;
    text-align: center;
}

.content label {
    font-weight: bold;
    margin-bottom: .5rem;
    margin-top: 2rem;
    display: block;
}

.content input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 50%;
}

.content textarea {
    resize: none;
    width: 50%;
    height: 20rem;
}

.actions {
    margin-top: 1rem;
    text-align: center;
}

.tags {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.content select {
    padding: .5rem;
    border-style: none;
    border-radius: 14px;
}

.error-text {
    color: #b40e0e;
}
